<h2>Admin</h2>

<form {{action 'createMonth' on='submit'}}>
  <select name="selectedYear" onchange={{action 'setSelectedYear' value='target.value'}}>
    {{#each availableYears as |year index|}}
      <option value="{{year.value}}">{{year.label}}</option>
    {{/each}}
  </select>

  <select name="selectedMonth" onchange={{action 'setSelectedMonth' value='target.value'}}>
    {{#each monthsOfTheYear as |month index|}}
      <option selected="{{eq todayMonth index}}" value="{{month.value}}">{{month.label}}</option>
    {{/each}}
  </select>

  <br />
  <br />

  <button type="submit">Generate Month</button>
</form>

<section>
  {{#if currentMonthItem}}
    {{month-item weeks=currentMonthItem year=selectedYear month=selectedMonth}}
  {{/if}}
</section>

{{draggable-list items=users data-identifier='id' data-label='name'}}

{{outlet}}
